html,

.globe {
  display: grid;
  place-items: center;
  height: 100vh;
  cursor: grabbing;
}

.info-container {
  order: 1;
  width: 500px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: all 300ms ease-in-out;
}

.close {
  width: 100px;
  height: 100px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;

  width: 100%;
  height: 100vh;
}

.canvas-container {
  width: 100%;

  order: 0;
  position: relative;
}

#main-canvas {
  width: 1028;
  height: 486;
  display: flex;

}

.roof-container {
  order: 1;
  width: 500px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.img-container {
  width: 500px;
  height: 300px;
}

.img-container img {
  width: 500px;
  object-fit: cover;
}

.closeimg {
  margin-left: 220px;
  width: 50px;
  height: 50px;
}

button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

#Close-roof {
  display: flex;
  position: absolute;
}


.sidebar-wrapper {
  position: fixed;
  left: 1rem;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar {
  position: relative;

  padding: 0.5rem 0.25rem;
  background-color: rgba(255, 255, 255, 0.9);
  height: 60%;

  border-radius: 50px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sidebar button {
  border: none;
  width: 3.5rem;
  height: 3.5rem;
  background-color: transparent;
}

.sidebar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.sidebar-wrapper .car-colors {

  position: absolute;
  bottom: 2rem;
  left: 5rem;
  width: 4rem;
  height: fit-content;

  border-radius: 1rem;

  padding: 1rem 2rem;

  background-color: rgba(255, 255, 255, 0.9);

  display: none;
}

.sidebar-wrapper .car-colors>span {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: -1rem;

  width: 1rem;
  height: 2rem;

  background-color: rgba(255, 255, 255, 0.9);
}

.sidebar-wrapper .car-colors>button {
  width: 5.1rem;
  height: 5.1rem;

  cursor: pointer;
}

.sidebar-wrapper .car-colors>button:nth-child(2) {
  width: 4.5rem;
  height: 4.5rem;
}

.sidebar-wrapper .car-colors>button>img {
  object-fit: contain;
}

/* .sidebar-wrapper .car-colors>span:nth-child(1) {
  background-color: red;
}

.sidebar-wrapper .car-colors>span:nth-child(2) {
  background-color: blue;
}

.sidebar-wrapper .car-colors>span:nth-child(3) {
  background-color: gray;
} */

.view {
  position: fixed;
  left: 1rem;
  top: 0;
  padding: 0.5rem 0.25rem;
}

.view button {
  border: none;
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(255, 255, 255, 0.9);

  border-radius: 50px;

  display: none;
}

.view button.active {
  display: block;
}

.view img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.car-colors.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  row-gap: 1rem;
}