.threejs {

    .car__tire {
        line-height: 30px;
        font-size: 26px;
        position: absolute;
        left: 200px;
        top: 200px;
        width: 50%;
        display: none;
        transition: all 0.5 ease;
    }

}


.threejs__canvas__container {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}