extends ../index.pug

block variables
    - var template = 'threejs'

block content
    .threejs
        .car__tire The tire is made of a high performance compound designed for quick starts and hard braking. Plus, this drag radial tire comes in a reduced tread pattern for maximum traction, giving you a serious boost in straight line speed.
    .threejs__canvas__container